<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>707010660822-2hgupsbs07nt16t5p8l0u2v9ikhjf71c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.707010660822-2hgupsbs07nt16t5p8l0u2v9ikhjf71c</string>
	<key>API_KEY</key>
	<string>AIzaSyBYAQPqqMcv3KFB1Eu-1iHOBjLjJ_4UM7s</string>
	<key>GCM_SENDER_ID</key>
	<string>707010660822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.enejlicina.eChat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>echat-ios13</string>
	<key>STORAGE_BUCKET</key>
	<string>echat-ios13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:707010660822:ios:595a9e97287b7754ae7c77</string>
	<key>DATABASE_URL</key>
	<string>https://echat-ios13.firebaseio.com</string>
</dict>
</plist>